@charset "UTF-8";

@include pull(left);
@include pull(right);

.center-box {
  margin-left: auto;
  margin-right: auto;
}

// .pull-left {
//   float: left;
// }
// .pull-right {
//   float: right;
// }

.site-header {
  background-color: $header_Background_Color;
  border-bottom: 1px solid $header_Border_Color;
  height: 60px;
  line-height: 60px;
  h1 {
    float: left;
  }
  nav {
    float: right;
    li {
      float: left;
      width: 100px;
    }
  }
}

.site-footer {
  text-align: center;
}
