@charset "UTF-8";

.font-bold {
  font-weight: bold;
}

.box-center {
  margin-left: auto;
  margin-right: auto;
}

@mixin pull($direction: left) {
  .pull-#{$direction} {
    float: $direction;
  }
}
