@charset "UTF-8";

@import "setting.scss";
@import "reset.scss";
@import "mixin.scss";

@import "common.scss";


@import "table.scss";
@import "form.scss";

dl {
  width: 80%;
  @extend .center-box;
}

.tags {
  color: #fff;
  .tag {
    display: inline-block;
    padding: 3px 6px;
    background-color: blue;
  }
  .clear {
    display: inline-block;
    padding: 0 5px;
    background: red;
  }
}
