@charset "UTF-8";

.search-box {
  $tabHighlight: blue;

  .clearfix::after {
    clear:both;
    content:"";
    display: block;
  }

  .btn {
    padding: 5px 10px;
    background-color: #eee;
    border: 1px solid #ccc;
  }

  .tab-bar {
    li {
      display: inline-block;
      width: 20%;
      &.active {
        color: $tabHighlight;
      }
    }
  }

  .input-box {
    $btnWidth: 40px;
    position: relative;
    border: 1px solid #ccc;
    input {
      width: calc(100% - #{$btnWidth});
      border: none;
      &:focus {
        outline: none;
      }
    }
    i {
      position: absolute;
      right: $btnWidth + 5px;
      top: 0;
    }
    button {
      float: right;
      width: $btnWidth;
      border: none;
    }
  }

  .btn-box {
    .clear-history {
      float: left;
    }
    .close-list {
      float: right;
    }
  }
}
