@charset "UTF-8";

.table {
  width: 80%;
  @extend .box-center;
  border-collapse: collapse;
  td {
    border: 1px solid ;
    padding: .5em;
  }
  thead,
  tfoot {
    @extend .font-bold;
  }
  @each $theme, $tab_bd_color, $tab_thead_bgcolor, $tab_tfoot_bgcolor in $table_Theme_List {
    &.#{$theme} {
      tbody > tr:nth-child(even) {
        background-color: lighten($tab_thead_bgcolor, 1%);
      }
      td {
        border-color: $tab_bd_color;
      }
      thead {
        background-color: $tab_thead_bgcolor;
      }
      tfoot {
        background-color: $tab_tfoot_bgcolor;
      }
    }
  }
}
