@charset "UTF-8";

.tags {
  .tag {
    display: inline-block;
    padding: 3px 6px;
    margin-right: 5px;
    background-color: $misc_Tag_Background_Color;
    border: 1px solid $misc_Tag_Border_Color;
    color: $misc_Tag_Text_Color;
    border-radius: 5px;
  }
  .clear {
    display: inline-block;
    padding: 0 5px;
    &:hover {
      background-color: darken($misc_Tag_Background_Color, 10);;
      cursor: pointer;
    }
  }
  .input-box {
    margin-top: 4px;
  }
}
